DATABASE_URL=postgresql://postgres:LiMin20260505@localhost:5432/hr_system
SECRET_KEY=change-this-to-a-long-random-secret-key-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Email settings (Gmail example)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=yukai58822@gmail.com
SMTP_PASSWORD=jwagzzrurznekjyn
MAIL_FROM=yukai58822@gmail.com
MAIL_FROM_NAME=Interview Platform
GOOGLE_CANCEL_FORM_URL=https://docs.google.com/forms/d/e/1FAIpQLSdPVYIMyx_IgSl3jfFqHZ9hOahASTEHpg8LbEP8_LFdqviN_A/viewform?edit2=2_ABaOnucGnsoPAbh2wmDy5el3KiDVKxDf8fzJGH3Rz9GKi4qx9BQDgRKN8VIa_dWRcQ

# Frontend base URL (for cancel links in emails)
BASE_URL=http://localhost:8000
